
<table datatable *ngIf="users" [dtOptions]="dtOptions" class="table table-striped table-dark table-bordered table-sm row-border hover">
  <caption>{{title}}</caption>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cognome</th>
      <th>Codice Fiscale</th>
      <th>Email</th>
      <th>Telefono</th>
      <th>Provincia</th>
      <th class="text-center">Action</th>
    </tr>
  </thead>
  <tbody *ngIf="users?.length != 0">
    <tr app-user="user" *ngFor="let user of users" [user-data]="user" (onDeleteUser)="onDeleteUser($event)"
      (onSelectUser)="onSelectUser($event)"></tr>
  </tbody>
  <tbody *ngIf="users?.length == 0">
    <tr>
      <td colspan="7" class="no-data-available">No data!</td>
    </tr>
  <tbody>
</table>
