<form class="userForm" #f="ngForm">
  <input [(ngModel)]="user.id" type="hidden" name="id" id="id">
  <div class="form-group">
    <label for="firstname">Firstname</label>
    <input [(ngModel)]="user.name" name="firstname" id="firstname">
  </div>
  <div class="form-group">
    <label for="lastname">lastname</label>
    <input [(ngModel)]="user.lastname" name="lastname" id="lastname">
  </div>
  <div class="form-group">
    <label for="fiscalcode">fiscalcode</label>
    <input [(ngModel)]="user.fiscalcode" name="fiscalcode" id="fiscalcode">
  </div>
  <div class="form-group">
    <label for="email">email</label>
    <input [(ngModel)]="user.email" type="email" name="email" id="email">
  </div>
  <div class="form-group">
    <label for="phone">phone</label>
    <input [(ngModel)]="user.phone"name="phone" id="phone">
  </div>
  <div class="form-group">
    <label for="province">province</label>
    <input [(ngModel)]="user.province" name="province" id="province">
  </div>
  <div class="form-group form-footer">
    <button class="btn-reset" (click)="resetForm(f.form)">Reset</button>
    <button class="btn-save" (click) = "saveUser()">Salva</button>
  </div>
</form>
