td{
  border: 1px solid black;
  text-align: center;
}

button{
  padding: 5px;
  border: 1px solid #222;
  width: 80px;
  border-radius: 20px;
}

button.delete{
  background: white;
  color: red;
  background-color: black;
  font-weight: bold;
  margin: 5px;
}

button.update{
  background: white;
  color: red;
  background-color: green;
  font-weight: bold;
  margin: 5px;
}
