<td style="text-align: center;">{{user.name}}</td>
<td style="text-align: center;">{{user.lastname}}</td>
<td style="text-align: center;">{{user.fiscalcode}}</td>
<td style="text-align: center;">{{user.email}}</td>
<td style="text-align: center;">{{user.phone}}</td>
<td style="text-align: center;">{{user.province}}</td>
<td>
  <div class="row">
    <div class="col-sm-6">
      <button class="btn btn-primary btn-sm" (click)="updateUser()"><fa-icon [icon]="faPen"></fa-icon></button>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-danger btn-sm" (click)="deleteUser()"><fa-icon [icon]="fatrah"></fa-icon></button>
    </div>
  </div>
</td>
