<h2>Dettagli Utente</h2>
<table class="table table-dark">
  <tr>
    <th>Codice</th>
    <td>{{user.id}}</td>
  </tr>
  <tr>
    <th>Nome</th>
    <td>{{user.name}}</td>
  </tr>
  <tr>
    <th>Cognome</th>
    <td>{{user.lastname}}</td>
  </tr>
  <tr>
    <th>Email</th>
    <td>{{user.email}}</td>
  </tr>
  <tr>
    <th>Codice Fiscale</th>
    <td>{{user.fiscalcode}}</td>
  </tr>
  <tr>
    <th>Provincia</th>
    <td>{{user.province}}</td>
  </tr>
  <tr>
    <th>Telefono</th>
    <td>{{user.phone}}</td>
  </tr>
  <tfoot>
    <tr>
      <td colspan="2" class="text-center"><button (click) = "backToUsers()" class="btn btn-primary">Indietro</button></td>
    </tr>
  </tfoot>
</table>
